src/main/mule/world-time-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="world-time-apiFlow" doc:id="a481fd09-f447-4c41-a51a-16e02d950ff8" >
		<http:listener doc:name="Listener" doc:id="1d860ac3-2344-4eef-9272-e8a7c1fe0c50" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="3996c9f1-78a0-472e-abc8-8371fae060bb" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="0eb35bc6-1444-4d56-951a-df6aa6bd812a" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="0274088f-f5cb-4da7-ac52-360c9e973619" message="Request complted"/>
	</flow>
</mule>
